/* @media  (min-width: 540px){
    .navbar{display: ;}
    .menu a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .busca{
        padding: 0.8rem 0;
    }
    .design-conteudo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{display:grid ;
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-img img{width: 250px; height: 250px;}
    .blog-text h2{font-size:1rem;}
    .sobre-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}


@media screen and (min-width: 1200px){
    .design-conteudo{
        grid-template-columns: repeat(3, 1fr);
    }

    .menu li{ text-transform: uppercase;letter-spacing: 1px; font-weight: 500;color:#fff;display: inline-block; padding:0.4rem 0.1rem; letter-spacing: 3px;transition: 0.5s ease; opacity: 9; padding-top: 20px;}} */
